<div class="input-wrap">
  <label for="{{name}}" class="label">{{label}}</label>
  <input type="{{type}}" name="{{name}}" id="{{name}}" class="input" validation="text" placeholder="{{placeholder}}">
  <span class="validation"></span>
</div>