<form class="form form-settings" name="settings">
  {{{ InputDisplayName }}}
  {{{ InputLogin }}}
  {{{ InputEmail }}}
  {{{ InputName }}}
  {{{ InputSecondName }}}
  {{{ InputPhone }}}
  {{{ ButtonChangeUserProfile }}}
  {{{ ButtonChangeUserPassword }}}
</form>