{{#if state.areChatsEmpty}}
<div class="chat-content chat-content_style_block_center">
  <div class="chat-content__message-empty-chats">
    Привет! у тебя нет, ни одного чата ^-^
  </div>
</div>

{{else}}
{{#if state.chatOpen }}
<div class="chat-content component-animate2">
  <div class="chat-content__header">
    {{{ ChatHeader }}}
  </div>
  <div class="chat-content__messages">
    {{{ ChatMessagesList }}}
  </div>
  <div class="chat-content__bottom">
    <div class="chat-send">
      {{{ InputSendMessage }}}
    </div>
    {{!-- <div class="chat-send-attach">
      <button class="button chat-content__button">
        <img src="{{ iconAttach }}" alt="account-menu-button" class="" />
      </button>
    </div> --}}
  </div>
</div>
{{else}}
<div class="chat-content chat-content_style_block_center">
  <div class="chat-content__message-empty-chats">
    Выберите чат ^-^
  </div>
</div>
{{/if}}
{{/if}}