<form class="form form-registration" name="registration">
  <div class="form__top">
    <img src="{{ iconAccount }}" alt="account" class="registration-form__icon">
  </div>
  <div class="form__content-row form__content-row_direction_row">
    <div class="form__content-col form__content-col_margin_right">
      {{{ InputEmail }}}
      {{{ InputLogin }}}
      {{{ InputPassword }}}
    </div>
    <div class="form__content-col form__content-col_margin_left">
      {{{ InputFirstName }}}
      {{{ InputSecondName }}}
      {{{ InputPhone }}}
    </div>
  </div>
  <div class="form__bottom">
    {{{ ButtonEnter }}}
    {{{ ButtonRegistration }}}
  </div>
</form>