<div class="user">
  <div class="user__avatar">
    {{{ UserAvatar }}}
    {{{ ButtonChangeAvatar }}}
  </div>
  {{{ UserDetails}}}
  <div class="user__nav">
    <ul>
      <li>{{{ ButtonCreateChat }}}</li>
      <li>{{{ ButtonOpenSettings }}}</li>
    </ul>
  </div>
  <div class="user__bottom">
    {{{ ButtonLogout }}}
    <div class="user__title-messenger">
      <img src="{{ logo }}" alt="logo" class="user__logo">
      <span class="user__title-messenger-name">Parrot Messenger</span>
      <span class="user__title-messenger-version">Version 0.3.1</span>
    </div>
  </div>

</div>