<form class="form form-login" name="login">
  <div class="form__top">
    <img src="{{ iconAccount }}" alt="account" class="form__input-wrap__icon">
  </div>
  <div class="form__content-row form__content-row_direction_column">
    {{{ InputLogin }}}
    {{{ InputPassword }}}
  </div>
  <div class="form__bottom">
    {{{ ButtonEnter }}}
    {{{ ButtonRegistration }}}
  </div>
</form>