<div class="login">
  <form class="form form-login" name="login">
    <div class="form__top">
      <img src="{{ logo }}" alt="logo" class="logo">
    </div>
    <div class="form__content-row form__content-row_direction_column">
      {{{ InputLogin }}}
      {{{ InputPassword }}}
    </div>
    <div class="form__bottom">
      {{{ ButtonEnter }}}
      {{{ ButtonRegistration }}}
    </div>
  </form>
</div>