{{#if message }}
<div class="callback-success">
  {{#if message.error }}
  <p>{{ message.error }}</p>
  {{/if}}
  {{#if message.success }}
  <p>Восстановление пароля не доступно, забудешь и будут проблемы.
    Поэтому, просто сфоткай это сообщение на смартфон ^-^</p>
  <span class="callback-success__text_style_bold">Твой новый пароль:</span>
  <span class="callback-success__password">{{ message.success }}</span>
  </p>
  {{/if}}
</div>
{{else}}
<form class="form form-password" name="password">
  {{{ InputOldPassword }}}
  {{{ InputPassword }}}
  {{{ ButtonChangeSubmit }}}
</form>
{{/if}}